@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  @apply text-[20px] text-secondary;
}

a{
  @apply text-[20px] hover:text-accent transition-all duration-300;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair';
  @apply text-primary;
}

.h1{
  @apply text-[64px] lg:text-[84px] leading-none;
}

.h2{
  @apply text-[50px];
}

.h3{
  @apply text-[25px];
}

.nav-is-open{
  @apply h-[370px] p-6;
}

.btn{
  @apply h-[75px] px-[30px] transition-all duration-300 text-white rounded-[18px] flex items-center gap-2;
}

.btn-primary{
  @apply bg-primary hover:bg-primary-hover;
}

.btn-accent{
  @apply bg-accent hover:bg-primary-hover ;
}

html {
  scroll-behavior: smooth;
}

.swiper-button-next, .swiper-button-prev{
  --swiper-navigation-color: black; 
  --swiper-navigation-size: 40px;
  @apply hover:text-accent;
}

.contact-inputs:focus{
  @apply border-[2px] border-accent;
}

.contact-inputs{
  @apply xl:w-[350px] w-[300px] h-[50px] px-[25px] text-[#666] rounded-[50px] outline-none border-[1px] border-[#ccc];
}

.hero {
  position: relative;
  /* other styles for .hero */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
  z-index: -1;
  border-bottom-left-radius: 290px;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2; /* Ensure it is behind the ::before element */
  border-bottom-left-radius: 290px;
}








